# Ignorer la base de données
IAFetL.db
Dockerfile
docker-compose.yml
google-chrome-stable_current_amd64.deb

# Ignorer d'autres fichiers/dossiers
__pycache__/
*.pyc
.vscode/
.env
venv/
driver/
data/
logs/
model_storage/
archive/